@import url("components/about.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/card.css");
@import url("components/footer.css");
@import url("components/hire.css");
@import url("components/navbar.css");
@import url("components/project.css");
@import url("components/word.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  height: 100%;
  background: black;
  scroll-behavior: smooth;
  height: 100vh;
}
