* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  height: 100%;
  background: black;
  scroll-behavior: smooth;
  height: 100vh;
}

/* NAVBAR STYLE */

.navbar {
  color: white;
  background-color: black;
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index:2 ;
}

.navbar h1 {
  font-family: 'DM Sans', sans-serif;
  display: flex;
  align-items: center;
  margin-left: 24px;
  text-decoration: none;
}

.navbar-name {
  text-decoration: none;
  display: flex;
  color: white;
   -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.navbar-name:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);

}

.navbar-tabs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 380px;
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
}

.navbar-tabs .navbar-tab {
  opacity: .7;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.navbar-tabs .navbar-tab.active {
  opacity: 1;
  border-bottom: 2px solid #FFE23B;
}

.active, .navbar-tab:hover {
  color: white;
  opacity: 1;
  -webkit-transform: scale(1.1);
  transform: scale(1.3);
}

.navbar-tabs a {
  text-decoration: none;
  color: white;
}

.navbar-button {
  border: solid #FFE23B 1px;
  border-radius: 20px;
  padding: 8px 12px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.navbar-button:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.2);
}

.navbar-tabs ul {
  display: flex;
  justify-content: space-around;
}

.navbar-tabs li {
  padding: 24px;
  list-style-type: none;
}

/* BANNER STYLE */

.banner {
  height: 200px;
  position: relative;
  width: 100%;
  display: flex;
  background-color: #FFE23B;
  justify-content: center;
  align-items: center;
  font-family: font-family: 'DM SANS';
  position: relative;
  overflow: hidden;
}

:root {
  --primary-color: #FFE23B;
  --secondary-color: black;
  --complimentary-color: #FFE23B;
}

.banner {
  min-height: 100vh;
  position: relative;
  width: 100%;
  display: flex;
  background-color: var(--complimentary-color);
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
}

.banner h1 {
  font-size: 80px;
  color: var(--primary-color);
  transform: translateY(-600px);
  animation: 1.2s slideIn ease-in-out forwards 1s;
  z-index: 1;
  opacity: 0;
  position: relative;
  text-align: center;
}

.banner h1::before {
    content: '';
    width: 0%;
    height: 76px;
    background-color: var(--secondary-color);
    position: absolute;
    bottom: -10px;
    animation: 1s underline ease-in-out forwards 2s;
    mix-blend-mode: screen;
}

.overlay {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    opacity: 0;
    left: 0;
    right: 0;
    background-color: var(--secondary-color);
    transform: scale(.5);
    animation: .5s slideIn ease-in-out forwards, 1s skewBg ease-in-out;
}

@keyframes skewBg {
  0% {
    transform: scale(.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes underline {
  100% {
    width: 100%;
  }
}

@keyframes slideIn {
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* PROJECT STYLE */

.project-container {
  perspective: 660px;
  width: 90%;
  height: auto;
  margin: 0 auto 100px;;
  background-image: black;
  overflow: hidden;
}

.project-container h4 {
  color: white;
  font-family: 'DM SANS';
  text-align: center;
  width: 100%;
  font-size:12px;
}

.project-one {
  position: relative;
  width: 100%;
  height: 500px;
  margin: 80px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.wrapper {
  position: relative;
  perspective: 170em;
  display: grid;
  transform-style: preserve-3d;
  overflow: visible;
}

.card {
  grid-area: 1 / 1;
  height: 200px;
  width: 400px;
  transform: translateX(10px) rotateY(25deg) rotateX(10deg);
  background: rgba(255,226,59, 0.9);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
  color: white;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 900;
  backface-visibility: hidden;
  box-shadow: 0 10px 30px -3px rgba(0,0,0,.1);
}

.card a {
  text-decoration: none;
  color: black;
  font-family: 'DM SANS';
  font-size: 40px;
}


.card .enclosed {
  background: #000;
  line-height: 1;
  color: rgba(255,226,59, 0.9);
  transform: translate(-1px, 1px) scale(0.75);
  transform-origin: right center;
  font-size: 16px;
}

.wrapper:before {
  --bw: 9px;
  grid-area: 1 / 1;
  content: '';
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  margin-top: calc(-1 * var(--bw));
  margin-left: calc(-1 * var(--bw));
  background: transparent;
  transform: translateX(-60px) rotateY(-30deg) rotateX(15deg) scale(1.03);
  pointer-events: none;
  border: var(--bw) solid white;
  box-sizing: content-box;
}


.wrapper:hover > .card,
.wrapper:hover:before {
  transform: none;
  display: flex;
  justify-content: center;
  transition-duration: 0.3s;
  transition-delay: .1s;
}

.wrapper > div,
.wrapper:before {
  will-change: transform;
  transition: .3s transform cubic-bezier(.25,.46,.45,1);
}

.project-two {
  position: relative;
  width: 100%;
  height: 500px;
  margin: 80px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.project-description {
  text-align: justify;
  hyphens: auto;
}

.project-description hr {
  border: solid 1px #FFE23B;
  width: 70px;
  margin-bottom: 12px;
  margin-left: 20px;
}

.project-description p {
  font-family: 'DM SANS';
  width: 300px;
  position: relative;
  color: white;
  margin: 20px;
  font-size: 14px;
}

.project-description a {
  text-decoration: none;
  color: white;
  margin-top: 30px;
  margin-left: 60px;
  font-family: 'DM SANS';
  margin: 20px;
}

.project-description h3 {
  margin-left: 20px;
}

/* ABOUT STYLE */

.about {
  background: #FFE23B;
  height: 715px;
  display: flex;
}

.about-content {
  position: relative;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.about-content img {
  width: 300px;
  height: auto;
}

.about-description {
  width: 50%;
  text-align: justify;
  hyphens: auto;
  font-family: 'DM Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
}

.about-description hr {
  border: solid 1px white;
  width: 70px;
  margin-bottom: 20px;
}

.about-description a {
  text-decoration: none;
  color: black;
}

.about-description h3 {
  font-size: 30px;
  font-family: 'DM Sans', sans-serif;
  padding-top: 87px;
  text-align: center;
}

.link-button-hover {
  padding-bottom: 14px;
  font-size: 18px;
}

@-webkit-keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@-webkit-keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
.link-button-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.link-button-hover:hover, .link-button-hover:focus, .link-button-hover:active {
  -webkit-animation-name: hvr-hang-sink, hvr-hang;
  animation-name: hvr-hang-sink, hvr-hang;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

/* HIRE STYLE */

.hire-me-iam-fantastic {
  background: black;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 20px;
}

.hire-me-iam-fantastic .text {
  font-family: 'DM Sans', sans-serif;
  margin: 60px;
}

.text {
    position: relative;
    width: 600px;
    left: -5%;
    height: 70px;
    text-align: center;
    font-size: 30px;
}

.text p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.word {
  position: absolute;
  width: 220px;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 26px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.contact-me {
  color: #FFE23B;
}

.meet-me {
  color: #FFE23B;
}

.hire-me {
  color: #FFE23B;
}

.work-with-me {
  color: #FFE23B;
}

.reason-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  width: 80%;
}


.reason-card {
  font-family: 'DM Sans', sans-serif;
}

.reason-card h3 {
  font-family: 'DM Sans', sans-serif;
  margin: 12px;
}

.reason-card p {
  font-family: 'DM Sans', sans-serif;
  text-align: justify;
  hyphens: auto;
  width: 200px;
}

.reason-card hr {
  border: solid 1px #FFE23B;
  width: 70px;
}

/* CONTACT STYLE */

.contact {
  width: 100%;
  height: 64px;
  background: #FFE23B;
  color: black;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.contact a {
  text-decoration: none;
  color: black;
  margin-right: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'DM Sans', sans-serif;
  width: 80%;
  margin-left: 130px;
}

.social {
  display: flex;
  width: 300px;
}

.social p {
  font-size: 20px;
}
