@import url("index-css/about.css");
@import url("index-css/banner.css");
@import url("index-css/project.css");
@import url("index-css/hire.css");
@import url("components/button.css");
@import url("components/card.css");
@import url("components/footer.css");
@import url("components/navbar.css");
@import url("components/word.css");
@import url("components/dropdown-button.css");
@import url("code-css/navbar-code.css");
@import url("code-css/banner-code.css");
@import url("code-css/project-code.css");
@import url("ux-ui-css/project-ux.css");
@import url("ux-ui-css/banner-ux.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  height: 100%;
  background: black;
  scroll-behavior: smooth;
  height: 100vh;
  color:white;
}

p {
  line-height: 1.7;
}
