* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  background: black;
}

/* BANNER STYLE */

/*.banner {
  width: 100%;
  height: 600px;
  overflow: hidden;
  border: solid white;
}*/

.container {
  height: 200px;
  position: relative;
  width: 100%;
  display: flex;
  background-color: #FFE23B;
  justify-content: center;
  align-items: center;
  font-family: font-family: 'DM SANS';
  position: relative;
}

:root {
  --primary-color: #FFE23B;
  --secondary-color: black;
  --complimentary-color: #FFE23B;
}

.container {
  min-height: 100vh;
  position: relative;
  width: 100%;
  display: flex;
  background-color: var(--complimentary-color);
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
}

.container h1 {
  font-size: 80px;
  color: var(--primary-color);
  transform: translateY(-600px);
  animation: 1.2s slideIn ease-in-out forwards 1s;
  z-index: 10;
  opacity: 0;
  position: relative;
}

.container h1::before {
    content: '';
    width: 0%;
    height: 76px;
    background-color: var(--secondary-color);
    position: absolute;
    bottom: -10px;
    animation: 1s underline ease-in-out forwards 2s;
    mix-blend-mode: screen;
}

.overlay {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    opacity: 0;
    left: 0;
    right: 0;
    background-color: var(--secondary-color);
    transform: scale(.5);
    animation: .5s slideIn ease-in-out forwards, 1s skewBg ease-in-out;
}

@keyframes skewBg {
  0% {
    transform: scale(.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes underline {
  100% {
    width: 100%;
  }
}

@keyframes slideIn {
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* NAVBAR STYLE */
.navbar {
  color: white;
  background-color: black;
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  position: sticky;
  top: 0px;
  overflow: hidden;
  z-index:100;
}

.navbar h1 {
  font-family: 'DM Sans', sans-serif;
  display: flex;
  align-items: center;
  margin-left: 24px;
}

.navbar-tabs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 380px;
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
}

.navbar-tabs .navbar-tab {
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.navbar-tabs .navbar-tab.active {
  opacity: 1;
  border-bottom: 2px solid #FFE23B;
}

.navbar-tabs a {
  text-decoration: none;
  color: white;
}

.navbar-button {
  border: solid #FFE23B 1px;
  border-radius: 20px;
  padding: 8px 12px;
}

/* PROJECT STYLE */

.projects {
  width: 100%;
  height: 1200px;
}

.project {
  position: relative;
  width: 80%;
  height: 500px;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-description {
  text-align: justify;
  hyphens: auto;
}

.project-description hr {
  border: solid 1px #FFE23B;
  width: 70px;
  margin-bottom: 12px;
  margin-left: 20px;
}

.project-description p {
  font-family: 'DM SANS';
  width: 300px;
  position: relative;
  color: white;
  margin: 20px;
}

.project-description a {
  text-decoration: none;
  color: white;
  margin-top: 30px;
  margin-left: 60px;
  font-family: 'DM SANS';
  margin: 20px;
}

.project-description h3 {
  margin-left: 20px;
}

.project-cards {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  position: relative;
}
.project-card {
  width: 200px;
  padding: 12px 24px;
  box-shadow: 1px 1px 1px white;
  border-radius: 12px;
  height: 300px;
  display
}

.project-card img {
  width: 100%;
  height: auto;
}

.project-card h2 {
  font-family: 'Abril Fatface', cursive;
  font-size: 30px;
}

.project-card a {
  text-decoration: none;
  color: white;
  font-family: 'DM Sans', sans-serif;
}

.project-card p {
  margin-top: 10px;
  text-align: center;
}

/* ABOUT STYLE */

.about {
  background: #FFE23B;
  height: 600px;
  display: flex;
}

.about-content {
  position: relative;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.about-content img {
  width: 300px;
  height: auto;
}

.about-description {
  width: 50%;
  text-align: justify;
  hyphens: auto;
  font-family: 'DM Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-description hr {
  border: solid 1px black;
  width: 70px;
  margin-bottom: 20px;
}

.about-description a {
  text-decoration: none;
  color: black;
}

.about-description h3 {
  font-size: 30px;
  font-family: 'DM Sans', sans-serif;
  border: solid 1px;
  width: 221px;
  padding: 10px;
  border-radius: 20px;
}

.cv-button {
  margin-top: 20px;
}

/* HIRE STYLE */

.hire-me-iam-fantastic {
  background: black;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 20px;
}

.hire-me-iam-fantastic h2 {
  font-family: 'DM Sans', sans-serif;
  margin: 60px;
}

.reason-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  width: 80%;
}
}

.reason-card {
  font-family: 'DM Sans', sans-serif;
}

.reason-card h3 {
  font-family: 'DM Sans', sans-serif;
  margin: 12px;
}

.reason-card p {
  font-family: 'DM Sans', sans-serif;
  text-align: justify;
  hyphens: auto;
  width: 200px;
}

.reason-card hr {
  border: solid 1px #FFE23B;
  width: 70px;
}

/* CONTACT STYLE */

.contact {
  width: 100%;
  height: 150px;
  background: #FFE23B;
  color: black;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.work {
  width: 80%;
  margin-left: 130px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'DM Sans', sans-serif;
}

.contact a {
  text-decoration: none;
  color: black;
  margin-right: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'DM Sans', sans-serif;
  width: 80%;
  margin-left: 130px;
}

.social {
  display: flex;
  width: 300px;
}

.social p {
  font-size: 20px;
}
