.ruby-code-project {
  width: 100%;
  height: auto;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  margin: 180px auto 90px;
  position: relative;
}

.ruby-code-project img {
  width: 300px;
  height: auto;
}

.ruby-project-text {
  font-family: DM Sans, sans-serif;
  font-size: 14px;
  overflow: hidden;
  width: 50%;
}

.description-project {
  margin: 12px 0;
  text-align: justify;
  hyphens: auto;
}

.description-project a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.description-project hr {
  border: solid 1px #FFE23B;
  width: 70px;
}

.skill-tag {
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding-top: .5rem;
  padding-right: 1.5rem;
  padding-bottom: .5rem;
  padding-left: 1.5rem;
  background-color: #FFE23B;
  border-radius: 50rem;
  color: black;
}

.react-code-project {
  width: 100%;
  height: auto;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  margin: 90px auto 90px;
  position: relative;
}

.react-code-project img {
  width: 300px;
  height: auto;
}

.react-project-text {
  font-family: DM Sans, sans-serif;
  font-size: 14px;
  overflow: hidden;
  text-align: justify;
  hyphens: auto;
  width: 50%;
}

.button-repo-ruby a {
  text-decoration: none;
  color: white;
}

.button-repo-react a {
  text-decoration: none;
  color: white;
}

.css-animations {
  width: 100%;
  height: auto;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  margin: 90px auto 80px;
  font-family: DM Sans, sans-serif;
}


.animations-text {
  font-family: DM Sans, sans-serif;
  font-size: 14px;
  overflow: hidden;
  text-align: justify;
  hyphens: auto;
  width: 50%;
}

.logo-animations {
  width: 300px;
  height: 125px;
  text-align: center;
}

.logo-animations span{
  font-family: 'Montserrat', sans-serif;
  position: relative;
  transform: translate(-50%, -50%);
  font-size:60px;
  letter-spacing:0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  text-shadow:
            8px 8px #ff1f8f,
            20px 20px #303030;
}

.logo-animations #animation-span {
  font-size: 30px;
}

.word-carousel .word-carousel-list div {
  overflow: hidden;
  position: relative;
  float: right;
  height: 65px;
  padding-top: 10px;
  margin-top: -10px;
}

.word-carousel .word-carousel-list li {
  font-family: DM Sans, sans-serif;
  color: #ccc;
  font-weight: 700;
  padding: 0 10px;
  height: 45px;
  margin-bottom: 45px;
  display: block;
}

.flip2 { animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip3 { animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }

@keyframes flip2 {
    0% { margin-top: -180px; }
    5% { margin-top: -90px;  }
    50% { margin-top: -90px; }
    55% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@keyframes flip3 {
    0% { margin-top: -270px; }
    5% { margin-top: -180px; }
    33% { margin-top: -180px; }
    38% { margin-top: -90px; }
    66% { margin-top: -90px; }
    71% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

.github-pages-button {
  padding: 20px;
}

.github-pages-button a {
  text-decoration: none;
}

.github-pages-button  p {
  border: solid #FFE23B 1px;
  border-radius: 15px;
  padding: 8px 12px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
  color: white;
  text-decoration: none;
  width: 200px;
  text-align: center;
  margin-bottom: 12px;
  margin-left: 15%;

}

.github-pages-button p:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.skill h3 {
  text-transform: uppercase;
}

@media screen and (max-width: 850px) {
 .ruby-code-project {
  display: block;
  margin: 0px auto 90px;
 }
 .ruby-code-project img {
  position: absolute;
  left: 32%;
  top: 0%;
 }
 .ruby-project-text {
  width: 60%;
  margin: 330px auto 0;
 }
 .react-code-project {
  display: block;
 }
 .react-code-project img {
  position: absolute;
  left: 32%;
  top: 0%;
 }
 .react-project-text {
  width: 60%;
  margin: 330px auto 0;
 }
 .css-animations {
  display: block;
 }
 .animations-text {
  width: 60%;
  margin: 0 auto;
 }
 .logo-animations {
  width: 70%;
  margin: 0 auto 50px;
 }
 .github-pages-button {
  padding-top: 30px;
  padding-bottom: 20px;
 }
}

