.sub-navbar-project {
  background-color: black;
  height: 300px;
  overflow: hidden;
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  position: sticky;
  top: 80px;
  z-index:2;
  background-color: transparent;
}
