.banner-ux {
  height: 450px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-ux .text-code {
  font-family: 'DM Sans', sans-serif;
  left: -10%;
}

.word-code {
  position: absolute;
  width: 100%;
  opacity: 0;
}

.word-carousel {
  font-family: 'DM Sans', sans-serif;
  display: flex;
  overflow: hidden;
}

.arrow {
  position: relative;
  top: 0%;
  left: 5%;
  width: 120px;
  height: 250px;
  padding-left: 20px;
}

.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #FFE23B;
    border-right: 5px solid #FFE23B;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

.word-carousel {
  font-size: 30px;
}

.word-carousel-list {
  overflow: hidden;
  position: relative;
  float: right;
  height: 65px;
  padding-top: 10px;
  margin-top: -10px;
  color: #FFE23B;
  font-size: 30px;
}

.word-carousel-list li {
  font-family: DM Sans, sans-serif;
  color: #FFE23B;
  font-weight: 700;
  padding: 0 10px;
  height: 45px;
  margin-bottom: 45px;
  display: block;
}

.word-carousel-list p {
  line-height: 1.3;
  color: #FFE23B;
}

.flip2 { animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip3 { animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }

@keyframes flip2 {
    0% { margin-top: -180px; }
    5% { margin-top: -90px;  }
    50% { margin-top: -90px; }
    55% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@keyframes flip3 {
    0% { margin-top: -270px; }
    5% { margin-top: -180px; }
    33% { margin-top: -180px; }
    38% { margin-top: -90px; }
    66% { margin-top: -90px; }
    71% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}


@media screen and (max-width: 375px) {
  .word-carousel {
    font-size: 11px;
    margin-left: 18px;
  }
  .word-carousel-list {
    font-size: 11px;
  }
  .ruby-code-project img {
    left: 14%;
  }
  .ruby-project-text {
    width: 80%;
  }
  .description-project {
    width: 100%;
  }
  .react-code-project img {
    left: 14%;
  }
  .react-project-text {
    width: 80%;
  }
  .animations-text {
    width: 80%;
  }
  .link-button-hover a {
    font-size: 18px;
  }
  .github-pages-button p {
    margin-left: 8%;
  }
  .skill-tag {
    margin-right: 0;
  }
  #logo-oishi {
    left: 14%;
  }
  .oishi-text {
    width: 80%;
  }
  #logo-skatrr {
    left: 10%;
  }
  .skatrr-text {
    width: 80%;
  }
  .oishi-project {
    margin: -36px auto -104px;
  }
  .privacy-content {
    width: 80%;
  }
  .about-img img {
    width: 246px;
    height: auto;
  }
  .link-button-hover a {
    font-size: 42px;
  }
  #cookies button {
    margin-right: 20px;
  }
  .project-description hr {
    width: 272px;
    margin-bottom: 120px;
  }
  .project-one hr {
    display: none;
  }
  .banner-code {
    height: 400px;
  }
  .banner-ux {
    height: 400px;
  }
  .code-projects .link-button-hover a {
    font-size: 18px;
  }
  .css-animations .link-button-hover a {
    font-size: 18px;
  }
  .about-description {
    height: 680px;
  }
  .project-container-mobile {
    display: block;
  }
  .project-container {
    display: none;
  }
  .navbar-tabs {
    font-size: 11px;
  }
  .about {
    overflow: hidden;
  }
}




