.wrapper {
  position: relative;
  perspective: 170em;
  display: grid;
  transform-style: preserve-3d;
  overflow: visible;
}

.card {
  grid-area: 1 / 1;
  height: 200px;
  width: 400px;
  transform: translateX(10px) rotateY(25deg) rotateX(10deg);
  background: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
  color: rgb(255,226,59);
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 900;
  backface-visibility: hidden;
  box-shadow: 0 10px 30px -3px rgba(0,0,0,.1);
  overflow: hidden;
  border-radius: 20px;
}

.card a {
  text-decoration: none;
  color: white;
  font-family: 'DM SANS';
  font-size: 40px;
  transform: translateZ(42px);
}


.card .enclosed {
  background: white;
  line-height: 1;
  color: black;
  transform: translate(-1px, 1px) scale(0.75);
  transform-origin: right center;
  font-size: 16px;
}

.wrapper:before {
  --bw: 2px;
  grid-area: 1 / 1;
  content: '';
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  margin-top: calc(-1 * var(--bw));
  margin-left: calc(-1 * var(--bw));
  background: transparent;
  transform: translateX(-60px) rotateY(-30deg) rotateX(15deg) scale(1.03);
  pointer-events: none;
  border: var(--bw) solid rgb(255,226,59);
  border-radius: 20px;
  box-sizing: content-box;
}


.wrapper:hover > .card,
.wrapper:hover:before {
  transform: none;
  display: flex;
  justify-content: center;
  transition-duration: 0.3s;
  transition-delay: .1s;
}

.wrapper > div,
.wrapper:before {
  will-change: transform;
  transition: .3s transform cubic-bezier(.25,.46,.45,1);
}

@media screen and (max-width: 850px) {
/* start of phone styles */
  .card {
    transform: none;
    display: flex;
    justify-content: center;
  }
}
